body {
  position: relative;
  font-family: sans-serif;
}

.container {
  max-width: 1177px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #2f2f2f;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
  .yellow__btn {
    background-color: #f59b00;
    padding: 15px 30px;
    border-radius: 5px;
    color: #fff;
  }
}

.logo__link {
    font-size: 30px;
    color: transparent;
    font-weight: 700;
    background-image: url('../images/color-bg.jpg');
    background-position: center center;
    background-size: cover;
    filter: contrast(0.6);
    -webkit-background-clip: text;
}

.menu {
  flex: 1;
  justify-items: flex-end;
  .menu__list {
    display: flex;
    gap: 40px;
  }
}

.menu__list-link {
  color: #fff;
  opacity: 60%;
  transition: opacity 0.3s ease;
}




@media (hover: hover) and (pointer: fine) {
  .menu__list-link:hover {
    opacity: 100%;
  }
}
